<div class="row mt-2">
  <div class="col-md-3" style="position: fixed;">
    <form (ngSubmit)="isUpdating ? updateInventory() : submitInventory()" id="Inventory" #inventoryTypeForm="ngForm">
      <div class="form-group mx-3">
            <label for="state" class="px-3 py-2">Unit Type<span class="text-danger">*</span></label>
            <select class="form-control" id="type" name="type" [(ngModel)]="newInventory.inventoryType" required #inventoryUnitType="ngModel" [class.invalid-input]="inventoryTypeForm.submitted && inventoryUnitType.invalid">
              <option value="" disabled selected>Select Type</option>
              <option value="Appartment">Appartment</option>
              <option value="Plot">Plot</option>
              <option value="RawHouse">Raw House</option>
              <option value="Member">Member</option>
              <option value="FarmLAnd">Farm Land</option>
            </select>
            <div *ngIf="inventoryTypeForm.submitted && inventoryUnitType.invalid" class="text-danger px-3">Deduction Type is required</div>

          </div>
          <div class="form-group mx-3">
            <label for="Inventory" class="px-3 py-2">Inventory Type<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="Inventory" name="Inventory" placeholder="Enter Inventory type" [(ngModel)]="newInventory.unitType" required #unitType="ngModel" [class.invalid-input]="inventoryTypeForm.submitted && unitType.invalid">
            <div *ngIf="inventoryTypeForm.submitted && unitType.invalid" class="text-danger px-3">Inventory Type is required</div>

          </div>
        
          <div class="form-check mt-4 mx-5">
            <h5> <input class="form-check-input" type="checkbox" value="" id="status" name="status" [(ngModel)]="newInventory.status">
              <label class="form-check-label" for="status">
                Active
              </label>
            </h5>
          </div>
          <div class="mt-4 mx-5">
            <button id="submitButton" class="btn custom-outline-pink mx-3">{{ isUpdating ? 'Update' : 'Submit' }}</button>
            <button type="reset" class="btn btn-outline-secondary mx-3">Reset</button>
          </div>
       
        </form>

    </div>
    <div class="col-md-8 offset-md-4">

      <div class="input-group mb-3 sticky-top">
        <input type="text" class="form-control mr-2" placeholder="Search " [(ngModel)]="searchTerm" (input)="searchInventory()">
        <div class="input-group-append">
          <button class="btn custom-outline-pink mx-3" type="button">Search</button>
        </div>
      </div>
      <table class="table table-striped" style="overflow-y: auto; width: 100%;">
        <thead>
          <tr>
            <th scope="col">Unit Type</th>
            <th scope="col">Inventory</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredInventory">
            <th>{{ item.inventoryType }}</th>
            <td>{{ item.unitType }}</td>
            <td>{{ item.status ? 'Active' : 'Inactive' }}</td> 
            <td>   
              <div style="display: flex; gap: 10px; padding: 5px;">
                <button class="btn btn-outline-danger" (click)="deleteinventory(item._id)">Delete</button>
                <button *ngIf="!isUpdating" class="btn btn-outline-warning" (click)="populateFormFields(item._id)">Update</button>
              </div>        
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
