<div class="row mt-2">
  <div class="col-md-4" style="position: fixed;">
    <form (ngSubmit)="isUpdating ? updateDeduction() : submitdeduction()" id="Deduction" #deductionForm="ngForm">
      <div class="form-group mx-3">
        <label for="DeductionName" class="px-3 py-2">Deduction Name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="DeductionName" name="DeductionName" [(ngModel)]="newDeduction.deductionName" placeholder="Enter Deduction Name" required #deductionName="ngModel" [class.invalid-input]="deductionForm.submitted && deductionName.invalid">
        <div *ngIf="deductionForm.submitted && deductionName.invalid" class="text-danger px-3">Deduction Type is required</div>

      </div>
      <div class="form-group mx-3">
        <label for="DeductionPercentage" class="px-3 py-2">Deduction Percentage (%)<span class="text-danger">*</span></label>
        <input type="number" class="form-control" id="DeductionPercentage" name="DeductionPercentage" [(ngModel)]="newDeduction.deductionPercentage" placeholder="Enter Deduction Percentage" required #deductionPercentage="ngModel" [class.invalid-input]="deductionForm.submitted && deductionPercentage.invalid">
        <div *ngIf="deductionForm.submitted && deductionPercentage.invalid" class="text-danger px-3">Deduction Percentage is required</div>

      </div>
      <div class="form-group mx-3">
        <label for="DeductionType" class="px-3 py-2">Deduction Type<span class="text-danger">*</span></label>
        <select class="form-control" id="DeductionType" name="DeductionType" [(ngModel)]="newDeduction.deductionType" required #deductionType="ngModel" [class.invalid-input]="deductionForm.submitted && deductionType.invalid">
          <option value="" disabled>Select Type</option>
          <option value="Advance">Advance</option>
          <option value="Paid">Paid</option>
        </select>
        <div *ngIf="deductionForm.submitted && deductionType.invalid" class="text-danger px-3">Deduction Type is required</div>

      </div>
      <div class="form-check mt-4 mx-5">
        <h5> <input class="form-check-input" type="checkbox" value="" id="status" name="status" [(ngModel)]="newDeduction.status">
          <label class="form-check-label" for="status">
            Active
          </label>
        </h5>
      </div>
      <div class="mt-4 mx-5">
        <button id="submitButton" class="btn custom-outline-pink mx-3">{{ isUpdating ? 'Update' : 'Submit' }}</button>
        <button type="reset" class="btn btn-outline-secondary mx-3">Reset</button>
      </div>
    </form>
  </div>

  <div class="col-md-8 offset-md-4">
    

 <div class="input-group mb-3 sticky-top">
  <input type="text" class="form-control mr-2" placeholder="Search" [(ngModel)]="searchTerm" (input)="searchDeduction()">
  <div class="input-group-append">
    <button class="btn custom-outline-pink mx-3" type="button">Search</button>
  </div>
</div>
    <table class="table table-striped" style="overflow-y: auto; width: 100%;">
      <thead>
        <tr>
          <th scope="col">Deduction Name</th>
          <th scope="col">Deduction Percentage (%)</th>
          <th scope="col">Deduction Type</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredDeduction">
          <td>{{ item.deductionName }}</td>
          <td>{{ item.deductionPercentage }}%</td>
          <td>{{ item.deductionType }}</td>
          <td>{{ item.status ? 'Active' : 'Inactive' }}</td> 
          <td>   
            <div style="display: flex; gap: 10px; padding: 5px;">
              <button class="btn btn-outline-danger" (click)="deletededuction(item._id)">Delete</button>
              <button *ngIf="!isUpdating" class="btn btn-outline-warning" (click)="populateFormFields(item._id)">Update</button>
            </div>        
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
