<div class="row mt-2">
  <div class="col-md-3" style="position: fixed;">
    <form (ngSubmit)="isUpdating ? updateFlat() : submitFlat()" id="Flat" #FlatForm="ngForm">
      <div class="form-group mx-3">
          <label for="Flat" class="px-3 py-2">Flat Type <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="Flat" name="Flat" placeholder="Enter Flat type" [(ngModel)]="newFlat.flatType" required #Flattype="ngModel" [class.invalid-input]="FlatForm.submitted && Flattype.invalid">
          <div *ngIf="FlatForm.submitted && Flattype.invalid" class="text-danger px-3">Flat Type is required</div>
        </div>
        <div class="form-group mx-3">
          <label for="FlatAlias" class="px-3 py-2">Flat Type Alias</label>
          <input type="text" class="form-control" id="FlatAlias" name="FlatAlias" placeholder="Enter Flat type Alias" [(ngModel)]="newFlat.flatTypeAlias" required>
        </div>
        <div class="form-check mt-4 mx-5">
          <h5> <input class="form-check-input" type="checkbox" value="" id="status" name="status" [(ngModel)]="newFlat.status">
            <label class="form-check-label" for="status">
              Active
            </label>
          </h5>
        </div>
        <div class="mt-4 mx-5">
          <button id="submitButton" class="btn custom-outline-pink mx-3">{{ isUpdating ? 'Update' : 'Submit' }}</button>
          <button type="reset" class="btn btn-outline-secondary mx-3">Reset</button>
        </div>
      </form>
      

    </div>
    <div class="col-md-8 offset-md-4">

      <div class="input-group mb-3 sticky-top">
        <input type="text" class="form-control mr-2" placeholder="Search" [(ngModel)]="searchTerm" (input)="searchFlat()">
        <div class="input-group-append">
          <button class="btn custom-outline-pink mx-3" type="button">Search</button>
        </div>
      </div>
      <table class="table table-striped" style="overflow-y: auto; width: 100%;">
  
        <thead>
          <tr>
            <th scope="col">Flat Name</th>
            <th scope="col">Alis</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flats of filteredFlat">
            <td>{{ flats.flatType }}</td>
            <td>{{ flats.flatTypeAlias }}</td>
            <td>{{ flats.status ? 'Active' : 'Inactive' }}</td> 
            <td>   
              <div style="display: flex; gap: 10px; padding: 5px;">
                <button class="btn btn-outline-danger" (click)="deleteflat(flats._id)">Delete</button>
                <button *ngIf="!isUpdating" class="btn btn-outline-warning" (click)="populateFormFields(flats._id)">Update</button>
              </div>        
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
